/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: Apache-2.0 */

.react-tabs__tab {
    cursor: pointer;
}

.tab-box {
    cursor: pointer;
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.document-view-box {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.document-view-header {
    padding-top: 1%;
    padding-left: 20%;
    padding-bottom: -10%;
}
