/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: Apache-2.0 */

.page-separator {
    font-size: .8em;
    text-transform: uppercase;
    padding-top: 2em;
  }

ul {
  padding: 0;
}