/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: Apache-2.0 */
.token {
    align-items: 'flex-start';
    /* background-color: colorBackgroundItemSelected; */
    border-radius: '2px';
    /* border: `1px solid ${colorBorderItemSelected}`; */
    box-sizing: 'border-box';
    /* color: colorTextBodyDefault; */
    display: 'flex';
    height: '100%';
    padding: '4px 4px 4px 8px';
}
.dismissButton {
    background-color: 'initial';
    border: '1px solid #0000';
    /* color: colorTextBodySecondary; */
    margin-left: 'auto';
    padding: '0 4px';
}