/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
   SPDX-License-Identifier: Apache-2.0 */
.file {
    min-width: 0; 
    display: 'flex';
    flex-flow: 'row nowrap';
    align-items: 'flex-start';
    gap: '8px';
}
.fileThumb {
    max-width: '60px';
}
.fileThumbImg {
    width: '100%';
    height: 'auto';
}

#fileThumbImg {
    width: '100%';
    height: 'auto';
}
.fileMetadata {
    overflow: 'hidden';
}
.fileName {
    text-overflow: 'ellipsis';
    white-space: 'nowrap';
    overflow: 'hidden';
}
.fileType {
    margin-left: '5px';
}